body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 0px;
}

.panel {
    height: 100vh;
    background-color: white;
    padding: 25px;
}

.dialog-tab {
    max-height: fit-content;
    min-height: 100vh;
    background-color: rgb(238, 230, 230);
    padding: 2px;
}

.dialog-button {

    display: flex;
    align-items: center;


    color: black;
    background-color: rgb(228, 228, 228);
    border: none;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
}

.dialog-button:hover,
.button:hover {
    background-color: #0d6efd;
    color: white;
}

.dialog-icon {
    height: 30px;
    font-size: 24px;
    padding-right: 10px;
}

.register-panel {
    height: 100vh;
    background-color: white;
    padding: 5px;
}

input {
    height: 60px;
    width: 300px;
    background-color: rgb(228, 228, 228);
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}

.button {
    width: 300px;
    height: 60px;
    background-color: rgb(228, 228, 228);
    font-size: 18px;
    border-radius: 20px;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

a {
    color: black;
}

.dialog {

    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}

.dialog-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}


.dialog-text {
    min-width: 0;
}

.dialog-last-message {
    color: #939393;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-button-advanced {
    color: black;
    outline: none;
    border: none;
    background-color: white;
}

.advanced-button-icon {
    font-size: 20px;
}

@media only screen and (max-width:991px) {


    .main {
        padding: 0;
    }

    .dialog-button-label {
        display: none;
    }

    .dialog-button {
        padding-left: 17px;
    }

    .panel {
        height: 75px;
        padding: 5px;
    }

    .dialog {
        font-size: 10px;
    }

    .dialog-avatar {
        width: 40px;
        height: 40px;
    }


    .advanced-button-icon {
        font-size: 12px;
    }

    .dropdown-menu {
        padding: 0;
        font-size: 10px;
        min-width: fit-content;
    }



    .dropdown-item-first {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .dropdown-item-last {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

}

@media only screen and (max-width:328px) {

    .panel {
        height: 50px;
        padding: 5px;
    }

    .dialog-icon {
        display: flex;
        font-size: 24px;
        align-items: center;
    }

    .dialog-button {
        width: 45px;
        height: 40px;
        border-radius: 15px;
        padding: 10px;
    }


    input,
    .button {
        width: 240px;
        height: 60px;
    }

    .dialog {
        font-size: 10px;
    }

    .dialog-avatar {
        width: 40px;
        height: 40px;
    }

    .dropdown-menu {
        padding: 0;
        font-size: 4px;
        min-width: fit-content;
        border-width: 0.5px;
    }

    .dropdown-item {
        padding: 4px;
    }

    .dropdown-item-first {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .dropdown-item-last {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}