body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 0px;
}

.panel {
    height: 100vh;
    background-color: white;
    padding: 25px;
}

.dialog {
    height: 100vh;
    background-color: rgb(238, 230, 230);
}

.dialog-button {

    display: flex;
    align-items: center;


    color: black;
    background-color: rgb(228, 228, 228);
    border: none;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
}

.dialog-button:hover,
.button:hover {
    background-color: #0d6efd;
}

.dialog-icon {
    height: 30px;
    font-size: 24px;
    padding-right: 10px;
}

.register-panel {
    height: 100vh;
    background-color: white;
    padding: 5px;
}

input {
    height: 60px;
    width: 300px;
    background-color: rgb(228, 228, 228);
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}

.button {
    width: 300px;
    height: 60px;
    background-color: rgb(228, 228, 228);
    font-size: 18px;
    border-radius: 20px;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

a {
    color: black;
}

@media only screen and (max-width:991px) {


    .main {
        padding: 0;
    }

    .dialog-button-label {
        display: none;
    }

    .dialog-button {
        padding-left: 17px;
    }

    .panel {
        height: 75px;
        padding: 5px;
    }
}

@media only screen and (max-width:328px) {

    .panel {
        height: 50px;
        padding: 5px;
    }

    .dialog-icon {
        display: flex;
        font-size: 24px;
        align-items: center;
    }

    .dialog-button {
        width: 45px;
        height: 40px;
        border-radius: 15px;
        padding: 10px;
    }


    input,
    .button {
        width: 240px;
        height: 60px;
    }
}