body {
    height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

.main {
    padding: 40px;
}

.panel {
    height: 768px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px;
    box-shadow: -10px -4px 15px 3px #2929296c;
}

.dialog {
    height: 768px;
    background-color: rgb(238, 230, 230);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 4px 15px 3px #2929296c;
}

.dialog-button {

    display: flex;
    align-items: center;


    color: black;
    background-color: rgb(228, 228, 228);
    border: none;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
}

.dialog-button:hover {
    background-color: #0d6efd;
}

.dialog-icon {
    height: 30px;
    font-size: 24px;
    padding-right: 10px;
}

@media only screen and (max-width:991px) {


    .main {
        padding: 0;
    }

    .dialog-button-label {
        display: none;
    }

    .dialog-button {
        padding-left: 17px;
    }

    .panel {
        height: 75px;
        padding: 5px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        box-shadow: none;
    }

    .dialog {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        box-shadow: none;
    }
}

@media only screen and (max-width:328px) {

    .panel {
        height: 50px;
        padding: 5px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        box-shadow: none;
    }

    .dialog-icon {
        display: flex;
        font-size: 24px;
        align-items: center;
    }

    .dialog-button {
        width: 45px;
        height: 40px;
        border-radius: 15px;
        padding: 10px;
    }
}